
ion-card {
    --background: #fdfdfd;
    margin-right: 16px;
    margin-left: 16px;
  }
  
// ion-card-title {
//     color: #d8dee4;
//   }
  
//   ion-card-subtitle{
//     color: #d8dee4;
//   }
  .button-one-color {
    --background: #C557B6;
  }

