<app-header pageTitle="Regler" class="ion-text-center"></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-toolbar>
    <ion-title size="large">Regler</ion-title>
  </ion-toolbar> -->
  <img
    alt=""
    src="../../../assets/community help with food resources and help sitting animals - 2.png"
    width="100%"
    style="margin-bottom: -170px"
  />

  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Uddeling af mad til hinanden:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Formålet er at stoppe madspild. Når du poster et opslag om at du vil
      tilbyde at nogle kan få glæde af noget mad som du har, så er det kontakten
      mellem dig og de interesserede som selv bestemmer hvordan det foregår.
      Madsplid er et generelt problem i den vestlige verden, ved at benytte
      denne app så hjælper vi hinanden med at stoppe madspild i Danmark.
      <br /><br />
      Lån Lokalt er ikke ansvarlig for dårlige madvare eller dårlige omlevelser
      mellem brugerne af applikationen.
      <br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Låne ressourcer fra hinanden:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Del de sparsomme ressourcer vi har på planeten, og spar penge samtidigt.
      Reglerne omkring udlånning af ressourcer som værktøj eller sportsudstyr er
      at man søger for at passe godt på de ting man låner af hinanden.
      <br /><br />
      Lån Lokalt er ikke ansvarlig for ødelagte genstande eller dårlig
      behandling, men hvis noget skulle ske så kan det få bestydning får de
      ansvarliges angang til denne applikation.
      <br />
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> 3. Pasning af hinandens planter og dyr:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      "Who you gonna call?" Hvis du skal på ferie, er kommet ud for et uheld
      eller skal et eller andet, så står du måske i en situation hvor du ikke
      ved ved der skal passe på din hund eller kaktus. Lån Lokalt er en
      mobilapplikation, der handler om at forbedre lokalsamfundet, med
      muligheden for at undgå madspild, låne ting af hinanden eller få plante og
      dyrpasning.
      <br /><br />
      Pas godt på planterne og dyrene! De er levende væsner ligesom os og skal
      behandles ordenligt.
      <br />
    </ion-card-content> </ion-card
  ><ion-card>
    <ion-card-header>
      <ion-card-title> 4. Kommunikationen via chatten:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Chatten er stedet hvor I kan kommunikere med hinanden omkring mad,
      ressourcer eller pasning.
      <br />
      <br />
      Det vigtigste er at der er en ordenlig tone når der skrives mellem
      hinanden. Hvis der overskrides nogle af diss regler vil bruger kunne
      ricikere at blive eksluderet fra denne applikation.
      <br />
    </ion-card-content>
  </ion-card>
  <br />

  <div class="ion-text-center" style="color: black">
    <a href="about">Lån Lokalt - lavet af MaNiPaKi</a>
  </div>
  <br />
</ion-content>
