<app-header pageTitle="Om os"></app-header>

<ion-content [fullscreen]="true" >
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lån Lokalt</ion-card-title>
      <ion-card-subtitle>Vores formål er at hjælpe hinanden.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lån Lokalt er en mobilapplikation, der handler om at forbedre lokalsamfundet, 
      med muligheden for at undgå madspild, låne ting af hinanden eller få plante og dyrpasning.
      <br>
      Vi er en gruppe studerende på Zealand Erhversakademi, der arbejder på et softwareprojekt
       relateret til “Et udækket behov”.
      <br>
      <div  class="grid-container">
        <img class="grid-item" alt="Photo of Niko"
        src="../../../assets/pictures/Niko.jpg"
        />
        <img class="grid-item" alt="Photo of Kirstine"
          src="../../../assets/pictures/kirstine.jpg"
        />
        <img class="grid-item" alt="Photo of Mark"
          src="../../../assets/pictures/Mark.jpg"
        />
        <img class="grid-item" alt="Photo of Paula"
          src="../../../assets/pictures/Paula.jpg"
        />
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
