<app-header pageTitle="Om os"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Lån Lokalt</ion-card-title>
      <ion-card-subtitle>Vores formål er at hjælpe hinanden.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less. Here's a small text description for the card content.
      Nothing more, nothing less. Here's a small text description for the card
      content. Nothing more, nothing less. Here's a small text description for
      the card content. Nothing more, nothing less. Here's a small text
      description for the card content. Nothing more, nothing less. Here's a
      small text description for the card content. Nothing more, nothing less.
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
