ion-item {
  --background: #57C566;
  --background-hover: #a3e681;
  border-radius: 5px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-top: 10px;

  box-shadow: 1px 1px 6px -1px #aaaaaa;
}
