ion-header {
  --background: var(--ll-menu-bg-1);

  ion-toolbar {
    --background: var(--ll-menu-bg-1);
    --border-style: none;
  }
}

ion-menu {
  ion-content {
    --background: var(--ll-menu-bg-1);
  }

  ion-list {
    background-color: var(--ll-menu-bg-2);
  }

  ion-list ion-item {
    --background: var(--ll-menu-bg-2);
  }

  #filler {
    background-color: var(--ll-menu-bg-2);
    height: 100%;
  }
} 

ion-item ion-label {
  --color: var(--ll-menu-item);
}

#menu-list {
  ion-header {
    color: var(--ll-menu-item);
    --background: var(--ll-menu-bg-1);
  }

  ion-note {
    color: var(--ll-menu-item);
    margin-bottom: 20px;
  }

  // #divider {
  //   border-top: solid 1px var(--ll-menu-item);
  // }

}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.divider {
  border-top: solid 1px var(--ll-menu-item) !important;  
}

.divider-margin {
  margin-top: 20px !important;
}



// md - material design - android

ion-header.md::after {
  width: 0px !important;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  //--padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  --background: var(--ll-menu-bg-1);
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  color: var(--ll-menu-item);
}

ion-menu.md ion-list#menu-list {
  border-bottom: 1px solid var(--ion-color-step-150,  var(--ll-menu-bg-1));
  --background: var(--ll-menu-bg-1);
}

ion-menu.md ion-list#menu-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  --background: var(--ll-menu-bg-1);
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  background-color: var(--ll-menu-bg-1);
  color: var(--ll-menu-item);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  
  ion-label {
    color: var(--ll-menu-item-selected);
    font-weight: 600;
  }
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ll-menu-item-selected);
}

ion-menu.md ion-item ion-icon {
  color: var(--ll-menu-item);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

// iOS

ion-menu.ios {
  ion-content {
    --padding-bottom: 20px;
    --background: var(--ll-menu-bg-1);
  }

  ion-list {
    padding: 20px 0 0 0;
    --background: var(--ll-menu-bg-1);
    background-color: var(--ll-menu-bg-1);
  }

  ion-note {
    line-height: 24px;
    margin-bottom: 20px;
    --background: var(--ll-menu-bg-1);
  }

  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
    --background: var(--ll-menu-bg-2);
  }  

  ion-item.selected ion-icon {
    color: var(--ll-menu-item-selected);
  }

  ion-item.selected ion-label {
    color: var(--ll-menu-item-selected);
    font-weight: 600;
  }

  ion-item ion-icon {
    font-size: 24px;
    color: var(--ll-menu-item);
  }

  ion-list-header,
  ion-note {
    padding-left: 16px;
    padding-right: 16px;
    color: var(--ll-menu-item);
  }

  ion-note {
    margin-bottom: 8px;
  }

  
} 



