ion-header {
  --background: var(--ll-green);
}

ion-header ion-toolbar {
  --background: var(--ll-green);
  --border-style: none;
}

ion-menu ion-content {
  --background: var(--ll-green);
}

ion-menu ion-list {
  background-color: var(--ll-green);
}

ion-menu ion-list ion-item {
  --background: var(--ll-green);
}

ion-item ion-label {
  --color: var(--ll-menu-item);
}

#menu-list {
  ion-header {
    color: var(--ll-menu-item);
  }

  ion-note {
    color: var(--ll-menu-item);
  }
}

// md - material design - android

ion-header.md::after {
  width: 0px !important;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  //--padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  --background: var(--ll-green);
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#menu-list {
  border-bottom: 1px solid var(--ion-color-step-150,  var(--ll-green));
  --background: var(--ll-green);
}

ion-menu.md ion-list#menu-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  --background: var(--ll-green);
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  background-color: var(--ll-green);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  font-weight: 600;
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #056522b4;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

// iOS

ion-menu.ios ion-content {
  --padding-bottom: 20px;
  --background: var(--ll-green);
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  --background: var(--ll-green);
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
  --background: var(--ll-green);
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  --background: var(--ll-green);
}

ion-menu.ios ion-item.selected ion-icon {
  //color: var(--ion-color-primary);
  color: var(--ll-menu-item-selected);
}

ion-menu.ios ion-item.selected ion-label {
  //color: var(--ion-color-primary);
  color: var(--ll-menu-item-selected);
  font-weight: 600;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  //color: #7f717daf;
  color: var(--ll-menu-item);
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

