<app-header pageTitle="Start"></app-header>

<ion-content [fullscreen]="true">
  <br />
  <img
    alt="Silhouette of mountains"
    src="../../../assets/Logo-Kirstine.png"
    style="height: 20%"
  />

  <br />
  <img
    alt="Silhouette of mountains"
    src="../../../assets/community help with food resources and help sitting animals - 2.png"
  />

  <div>
    <ion-item>
      <ion-label>Giv mad væk</ion-label>
      <ion-button slot="end">
        <ion-icon name="fast-food" color="second"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Deling af ressourcer</ion-label>
      <ion-button slot="end">
        <ion-icon name="hammer" color="second"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Pasning af planter & dyr</ion-label>
      <ion-button slot="end">
        <ion-icon name="leaf" color="second"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <br /><br />

  <div class="ion-align-items-center">
    <ion-button shape="round" class="ion-align-items-center"
      >Start hjælpen</ion-button
    >
  </div>
</ion-content>
<footer>
  <ion-chip>
    <ion-icon name="fast-food" color="second"></ion-icon>
    <ion-label>Mad</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="hammer" color="second"></ion-icon>
    <ion-label>Ressourcer</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="leaf" color="second"></ion-icon>
    <ion-label>Pasning</ion-label>
  </ion-chip>
</footer>
