<app-header pageTitle="Start"></app-header>

<ion-content [fullscreen]="true">
  <img
    alt="Silhouette of mountains"
    src="../../../assets/community help with food resources and help sitting animals - 1.png"
  />

  <div class="ion-align-items-center">
    <ion-button shape="round" color="success" class="ion-align-items-center"
      >Start hjælpen</ion-button
    >
  </div>
  <div>
    <ion-item>
      <ion-label>Giv mad væk</ion-label>
      <ion-button slot="end">
        <ion-icon name="fast-food" color="second"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Deling af ressourcer</ion-label>
      <ion-button slot="end">
        <ion-icon name="hammer" color="second"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Pasning af planter & dyr</ion-label>
      <ion-button slot="end">
        <ion-icon name="leaf" color="second"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-chip>
      <ion-icon name="fast-food" color="primary"></ion-icon>
      <ion-label color="white">Mad</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="hammer" color="primary"></ion-icon>
      <ion-label>Ressourcer</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="leaf" color="primary"></ion-icon>
      <ion-label>Pasning</ion-label>
    </ion-chip>
  </div>
</ion-content>
