ion-chip {
  --background: #57C566;
  --color: #ffffff;
}

ion-button {
  --background: #57C566;
}

ion-label {
  --background: #57C566;
}

.button-one-color {
  --background: #C557B6;
}

// --background: #87d361;