ion-header {
  --background: var(--ll-green);

  ion-toolbar {
    --background: var(--ll-green);
  }

  ion-title {
    color: #fff;
  }

  ion-menu-button {
    color: #fff;
  }

  ion-icon {
    color: #fff;
  }
}

