<app-header pageTitle="Mad"></app-header>
  
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="showFilterOptions()">
        Filter
        <ion-icon slot="end" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <app-item *ngFor="let item of items$" [item]="item" (click)="openDetails(item)"></app-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openPostForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>