<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mad</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-title size="large">Mad</ion-title>
  <ion-list>
    <!-- <ion-item button detail="true" *ngFor="let item of itemList">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../../assets/icon/{{item.Image}}" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.Title}}</h3>
        <p>{{item.Description}}</p>
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>