<app-header pageTitle="Om os" class="ion-text-center"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lån Lokalt</ion-card-title>
      <ion-card-subtitle>Vores formål er at hjælpe hinanden.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lån Lokalt er en mobilapplikation, der handler om at forbedre
      lokalsamfundet, med muligheden for at undgå madspild, låne ting af
      hinanden eller få plante og dyrpasning.
      <br /><br />
      Vi er en gruppe studerende på Zealand Erhversakademi, der arbejder på et
      softwareprojekt relateret til “Et udækket behov”.
      <br />
      <div class="grid-container">
        <img class="grid-item" alt="Photo of Niko" src="../../../assets/pictures/Niko.jpg" />
        <img class="grid-item" alt="Photo of Kirstine" src="../../../assets/pictures/kirstine.jpg" />
        <img class="grid-item" alt="Photo of Mark" src="../../../assets/pictures/Mark.jpg" />
        <img class="grid-item" alt="Photo of Paula" src="../../../assets/pictures/Paula.jpg" />
      </div>
      <div class="ion-text-center" style="margin-top: 20px;"> <a href="https://www.flaticon.com/authors/freepik"
          title="Freepik icons">Icons
          created by Freepik -
          Flaticon</a></div>
    </ion-card-content>
  </ion-card>
</ion-content>